* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-color: #000000;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .charger {
    display: flex;
    flex-direction: column;
    gap:15px;
    text-align: center;
  }

  .catalog-charger__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .charger-catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .charger_text2 {
    width:300px;
  }

  .charger-2 {
    display: flex;
    flex-direction: column;
    gap:15px;
  }

  .btn {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .chargerbutton {
    display: flex;
    align-items: center;
    border-radius:15px;
    width:200px;
    gap:15px;
    text-align: center;
  }

  .catalog-chargers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .charger-4 {
    display: flex;
    flex-direction: column;
    gap:15px;
    text-align: center;
  }

  .charger_text1 {
    color: #ffffff;
  }

  .charger-btn1 {
    height:50px;
  }

  .chargerbutton {
    height:50px;
  }

  .charger_text2 {
    font-size:30px;
    color: #ffffff;
  }

  .charger3 {
    width:200px;
    border-radius:15px;
  }

  .catalog-charger2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
  }

  .charger-text_text-1-charger {
    display: flex;
    flex-direction: column;
    padding:40px 0;
    align-items: flex-start;
  }

  .profi-charger {
   border: 1px solid white; 
   width:100px;
   text-align: center;
   border-radius:10px;
   padding:10px 0;
  }

  .content-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:15px;
    width:100px;
    padding:10px 0;
    border:1px solid white;
    border-radius:10px;
  }

  .profi-charger {
    display: flex;
    flex-direction: column;
    gap:5px;
  }


  .charger-img {
    width:150px;
  }

  .charger-text {
    font-size:20px;
    width:200px;
  }

  .charger-btn {
    display: flex;
    align-items: center;
    justify-content:center;
  }

  .charger-btn1 {
    display: flex;
    width:200px;
    text-align:center;
    border-radius:10px;
    align-items: center;
    gap:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
  }

  .burger-menu {
    display: none;
  }

  .catalog-charger__wrapper {
    display: flex;
    justify-content: center;
  }

  .charger-text {
  width:300px;
  }

  .catalog-charger2 {
    display: flex;
    flex-direction: column;
    gap:20px;
  }

  @media(max-width:1200px) and (min-width:375px) {

    .charger-text {
      display: none;
    }

    .charger-text_text-1-charger {
      display: none;
    }

    .catalog-charger__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:100px;
      padding:50px;
    }

    .charger-catalog__wrapper {
      display: flex;
      flex-direction: column;
    }

    .charger3 {
      border-radius:20px;
      width:200px;
      display: flex;
    }

    .charger-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:20px;
    }

    .charger-4 {
      display: flex;
      flex-direction: column;
      gap:15px;
    }

    .btn {
      display: flex;
      justify-content: center;
    }

    .chargerbutton {
      display: flex;
      align-items: center;
      border-radius:10px;
      width:200px;
      text-align:center;
      gap:15px;
      font-weight: 600;
    }

    .charger-price1 {
      text-align: center;
    }

    .charger_text1 {
      text-align: center;
    }

    .charger_text2 {
      text-align:center;
      width:300px;
    }

    .charger {
      display: flex;
      gap:15px;
      align-items: center;
    }

    .airpods {
      display: flex;
      flex-direction: column;
      gap:20px;
    }

    .charger-img {
      border-radius:10px;
    }

    /* Бургер меню */

    .burger-menu {
      display:block;
      color: #ffffff;
      position: relative;
      left: 200px;
      top: 2px;
    }
  
    .burger {
      width: 30px;
      height: 30px;
      z-index: 1;
      cursor: pointer;
    }
  
    .contacts__wrapper {
      display: flex;
      flex-direction: column;
    }
  
    .mail {
      position: relative;
      width: 100px;
      left: 220px;
      bottom: 200px;
    }
  
    .button_wrapper {
      position: relative;
      top: 35px;
      right: 70px;
    }
  
    .prev {
      position: relative;
      left: 100px;
    }
  
    .next {
      position: relative;
      left: 200px;
    }
  
    .burger::after {
      content: '';
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  
    .hamburger-icon {
      position: relative;
      display:block;
      top: -3px;
      font-size: 40px;
      left: 100px;
      z-index: 999;
      /* Устанавливаем z-index чтобы иконка была поверх остальных элементов */
      cursor: pointer;
      transform: 0.4s;
    }

    .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #5a5a5a;
      text-align: center;
      padding-top: 50px;
      /* Добавляем отступ сверху для центрирования ссылок */
    }
  
    .menu a {
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
      position: relative;
      right:130px;
      top:200px;
      color: #ffffff;
      text-decoration: none;
    }
  
    .hamburger-icon::before {
      top: 25px;
      rotate: 10px;
    }
  
    .hamburger-icon::after {
      top: 25px;
      transform: rotate(100deg);
    }
  
    .menu.active {
      display: block;
    }
  
    .burger.open::after {
      display: block;
    }
  
    .burger .line1,
    .burger .line2,
    .burger .line3 {
      width: 100%;
      height: 4px;
      background-color: #000;
      position: absolute;
      transition: transform 0.4s;
    }
  
    .burger .line1 {
      top: 0;
    }
  
    .burger .line2 {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .burger .line3 {
      bottom: 0;
    }
  
    .burger.open .line1 {
      transform: rotate(45deg);
      top: 50%;
    }
  
    .burger.open .line2 {
      transform: rotate(-45deg);
      top: 50%;
    }
  
    .burger.open .line3 {
      width: 0;
    }
  
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;
    }
  
    .menu.open {
      display: block;
    }

    /* Окончание бургер меню */
  }